body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#greetings h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin: 60px 0 -70px 0;
}

.time-date-wrapper {
    background-color: #333;
    padding: 25px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15%;
}

#time {
    background-color: #333;
    border-radius: 5px;
    font-size: 60px;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
}

#time span {
    color: #888;
    text-shadow: 0px 0px 1px #333;
    font-size: 30px;
    position: relative;
    top: -27px;
    left: -10px;
}

#date {
    font-size: 14px;
    margin-top: 8px;
    color: #ec7614;
    text-transform: uppercase;
}

@media(max-width:460px) {
    .time-date-wrapper {
        width: 50;
        padding: 15px;
    }

    #greetings h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        margin: 30px 0 5px 0;
    }

    #time {
        font-size: 25px;
        color: #ec7614;
    }

    #time span {
        color: #888;
        text-shadow: 0px 0px 1px #333;
        font-size: 15px;
        position: relative;
        top: -10px;
        left: -2px;
    }

    #date {
        font-size: 8px;
        margin-top: 8px;
        color: #fff;
        text-transform: uppercase;
    }

}